@font-face {
    font-family: Fira Sans;
    src: url(FiraSans.ttf);
  }

body {
    background-image: url("../public/white-bg.jpg");
    background-attachment: fixed;
    font-family: 'Fira Sans';
}
a, a:link, a:visited {
    color: black;
}
a:hover {
    color: darkgray;
  }
  
.spacer {
    margin-top: 200px;
}

.bracketed-content-about {
    position: relative;
    display: inline-block;
    padding: 20px; /* Add spacing between the text and the brackets */
}

.bracketed-content-about::before,
.bracketed-content-about::after {
    content: "["; /* Use "[" for the opening bracket and "]" for the closing bracket */
    font-size: 12rem; /* Adjust size of the brackets */
    position: absolute;
    margin-top: -1.5rem;
    top: 0;
    transform: translateY(-10%); /* Center vertically relative to the text */
    
}

.bracketed-content-about::before {
    left: -3rem; /* Position to the left of the content */
}

.bracketed-content-about::after {
    content: "]"; /* Closing bracket */
    right: -3rem; /* Position to the right of the content */
}

.bracketed-content-experience {
    position: relative;
    display: inline-block;
    padding: 20px; /* Add spacing between the text and the brackets */
}

.bracketed-content-experience::before,
.bracketed-content-experience::after {
    content: "["; /* Use "[" for the opening bracket and "]" for the closing bracket */
    font-size: 12rem; /* Adjust size of the brackets */
    position: absolute;
    margin-top: 0rem;
    top: 0;
    transform: translateY(-10%); /* Center vertically relative to the text */
    
}

.bracketed-content-experience::before {
    left: -3rem; /* Position to the left of the content */
}

.bracketed-content-experience::after {
    content: "]"; /* Closing bracket */
    right: -3rem; /* Position to the right of the content */
}

.bracketed-content-hobbies {
    position: relative;
    display: inline-block;
    padding: 20px; /* Add spacing between the text and the brackets */
    margin-top: 0.5rem;
}

.bracketed-content-hobbies:before,
.bracketed-content-hobbies::after {
    content: "["; /* Use "[" for the opening bracket and "]" for the closing bracket */
    font-size: 8rem; /* Adjust size of the brackets */
    position: absolute;
    margin-top: -1rem;
    top: 0;
    transform: translateY(-10%); /* Center vertically relative to the text */
    
}

.bracketed-content-hobbies::before {
    left: -3rem; /* Position to the left of the content */
}

.bracketed-content-hobbies::after {
    content: "]"; /* Closing bracket */
    right: -3rem; /* Position to the right of the content */
}
